
@{
    ViewData["Title"] = "HowItWorks";
}

<h2>HowItWorks</h2>

Sign up and register yourself with our network.  The registration fee is $40 and is fully applied to your first order.  You have to pay online with a credit card or paypal to register.  This helps us verify your age and authenticity. At the same time you must accept the agreements.  These are for your protection and ours.  

After your registered you can browse the products and select items for your orders.  The minimum delivery amount is $20.  We also provide a local pickup if you prefer.  You can specify a drop off location like a mailbox if you like, we will notify you the instant its dropped off with an image of the package via SMS. 



